{% extends "base_principal.html" %}
{% block title %}Inicio{% endblock title %}
{% load static from staticfiles %}   

{% block content %}  

{% include "navbar.html" %} 
{% load humanize %}

   
    <div class="container"> 
        <div class="page-header">
            <br>
            <h4> 
                <br>
                <a href="/" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>             
                
                <h4>Auxiliar de Clientes</h4>
            </h4>
        </div><!-- page-header -->

        <form action= "." method="GET"> 
            <label for="q">Buscar</label>
             <input id="aut" name = "q" autofocus type="search" placeholder="Nombre cliente o celular" value="{% if q %}{{ q }}{% else %}{% endif %}"                
            <input type="submit" value="Search">
        </form>
 
          <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Artiuclo</th>
                        <th>Venta</th>
                        <th>Importe</th>
                        <th>Saldo</th>
                        <th>Abono</th>                         
                        <th>Estatus</th> 
                        <th>Estado</th>
                        <th>Enganche</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        
                        {%for a in cxcs %}
                        <tr>
                            <td>
                                {{a.venta.id}}
                            </td>
                            <td>
                                 {{a.venta.cliente.nombre}}
                            </td> 
                            <td>
                                {{a.venta.inventario.articulo}}
                            </td>
                            <td>
                                 {% if a.tipo == 100 %}
                                    venta
                                 {% else %}
                                    abono
                                {% endif %}

                            </td>

                            <td>
                               {{a.total|default_if_none:""}}
                            </td>           
                            <td>
                                ${{a.saldo|intcomma}}
                            </td>
                            <td>
                               {{a.abono|default_if_none:""}}
                            </td>
                            
                            <!--
                            <td>
                                {% if a.tipo == 200 %}
                                  {% if a.pagado = True %}
                                      Si 
                                  {% else %}
                                      No
                                  {% endif %}
                                {% endif %}
                                 
                            </td>
                            -->
                            <td>
                                {{a.venta.cliente.estado}}
                            </td>
                            <td>

                                {{a.venta.fechaventa}}
                            </td>
                            <td>
                                {% if a.tipo == 100 %}
                                    {{a.venta.enganche}}
                                {% endif %}
                            </td>

                            
                        </tr>
                        {%endfor%}
                          
 
                        </tbody>
                </table>
            </div><!-- col-md-12 -->
        </div><!-- /row -->
    </div><!-- /container -->

    {% if paginator.num_pages > 1 %}
            <div class="pager">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                    {% endif %}
                    <li><a href="#">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
      
{% endblock content %}

 