{% extends "base_principal.html" %}
{% block title %}Inicio{% endblock title %}
{% load static from staticfiles %}   

{% block content %}  

{% include "navbar.html" %} 
{% load humanize %}

   
    <div class="container"> 
        <div class="page-header">
            <br>
            <h4> 
                <br>
                <a href="/" class="btn btn-success">
                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                </a>             
                
                <h4>Pronostico de Cobros</h4>
            </h4>
        </div><!-- page-header -->

        <form action="." method="GET"> {% csrf_token %}
            <label for="fechaini">Fecha Ini</label>
             <input id="fechaini" name = "fechaini" autofocus type="search" placeholder="Fecha Inicio">
             <label for="fechafin">Fecha Fin</label>
             <input id="fechafin" name = "fechafin" autofocus type="search" placeholder="Fecha Fin">                 
            <input type="submit" value="Consultar">
        </form>
 
          <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Artiuclo</th>
                        <th>Abono esperado</th>                    
                        <th>Saldo</th>                           
                        <th>Estatus</th> 
                        <th>Fecha de Cobro</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                        
                        
                        {%for a in xcobrar %}
                        <tr>
                            <td>
                                {{a.venta.id}}
                            </td>
                            <td>
                                 {{a.venta.nombre}}
                            </td> 
                            <td>
                                {{a.venta.inventario.articulo}}
                            </td>
                            <td>
                                {{a.venta.abono}}    
                            </td>                            
                            <td>
                                ${{a.saldo|intcomma}}
                            </td>
                            
                          
                            <td>
                                {{a.venta.estado}}
                            </td>
                            <td>

                                {{a.proxcobro}}
                            </td>
                            
                        </tr>
                        {%endfor%}
                          
 
                        </tbody>
                </table> 
               <b> Total Cobro Esperado :$ {{sumxcobrar|intcomma}} </b>
            </div><!-- col-md-12 -->
        </div><!-- /row -->
    </div><!-- /container -->

    {% if paginator.num_pages > 1 %}
            <div class="pager">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                    {% endif %}
                    <li><a href="#">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    {% endif %}
                </ul>
            </div>
    {% endif %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
  $(function(){ 
    $("#fechaini").datepicker({dateFormat:'yy-mm-dd'});  
    $("#fechafin").datepicker({dateFormat:'yy-mm-dd'}); 
  });
</script>
   
      
{% endblock content %}

 