{% extends "base_principal.html" %}
{% block title %}Inicio{% endblock title %}
{% load static from staticfiles %}   

{% block content %}  

    {% include "navbar.html" %} 

    <form class="form-horizontal" method="post">{% csrf_token %}    
                <div class="panel panel-primary">
                    <!-- <div class="panel-heading">Alumnos</div>  -->
                    <div class="panel-body">
                        <div class="page-header">
                            <br>
                        <h3>
                            <a href="/" class="btn btn-success">
                            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                            </a>
                            <strong>Nueva Recepcion de Mercancia</strong>
                        </h3>                                                        
                        </div><!-- page-header -->

                        <div class="row">                            
                            <div class="col-xs-12 col-sm-6"> 
                                <div class="form-group">
                                    <label for="articulo" class="hidden-xs col-sm-2">Artiuclo:</label>
                                    <div class="col-sm-10">
                                        {{form.articulo}} 
                                        {{form.articulo_display.error}}
                                      
                                        <a href="/articulo/create" id="add_articulo" onclick="return showAddPopup(this);"><img src = "{% static '/img/icon-addlink.svg' %}"></a>

    <a id="edit_articulo" style="cursor: pointer; cursor: hand;"><img src = "{% static '/images/icon-changelink.svg' %}"></a>
    <br><br>

                                    </div>
                                </div>   
                                
                                <div class="form-group">
                                    <label for="existencia" class="hidden-xs col-sm-2">Cantidad:</label>
                                    <div class="col-sm-10">
                                        {{form.existencia}}
                                        {{form.existencia.errors}}
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label for="almacen" class="hidden-xs col-sm-2">Almacen:</label>
                                    <div class="col-sm-10">
                                        {{form.almacen}}
                                        {{form.almacen.errors}}
                                    </div>
                                </div>   
                            </div> <!-- class="col-xs-12 col-sm-6" -->                           
                        </div> <!--<div class="row"> -->
                        

                        <div class="panel-footer color-footer">
                            <button type="submit" class="btn btn-primary">
                                 Grabar
                            </button>
                        </div>
 

                    </div>
                </div>
            </form>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
         $( document ).ready( function() {
          $("#id_persona_display").autocomplete({
           source: '/auto',
           dataType: "jsonp",
           selectFirst: true,
           minLength: 4,
           select: function(event,ui) {
            $("#id_alumno").val(ui.item.id)
           }
          });
         });
 </script>

 <script>

$("#edit_articulo").click(function(){
  nombre = $("#id_articulo option:selected").text();
  var data = {"nombre":nombre};
  console.log(data);
    $.ajax({
        type : 'GET',
        url :  '/articulo/ajax/get_articulo_id',
        data : data,
        success : function(data){
          var url = "/articulo/" + data['articulo_id'] + "/edit/";
          showEditPopup(url);
        },
        error: function(data) {
          alert("Algo salio mal.!!"); 
        }
    });
})
 </script>



<script src="{% static 'js/vendor/jquery-datepicker-es.js' %}"></script>
<script>
  $(function(){ 
    $( "#id_caducidad" ).datepicker();   
  });
  </script>

  {% block script %}

<script type="text/javascript">

function showEditPopup(url) {
    var win = window.open(url, "Edit", 
        'height=500,width=800,resizable=yes,scrollbars=yes');
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
  alert("Va a cerrar");
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

</script>



{% endblock %}



{% endblock content %}
